/* #1e90ff */
* {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

.add-goal-container {
  width: 90%;
  margin: 2rem auto;
  align-items: center;
}
.add-goal-label {
  font-size: 1.1rem;
  font-weight: 800;
  color: #4a4747;
}
.head {
  color: #1e90ff;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 2rem;
}
.add-goal-input {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  /* border-radius: 10px; */
  margin-bottom: 1.5rem;
}
.add-goal-type .btn button {
  width: 120px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.plus {
  display: flex;
}
.btn-plus {
  width: 40px;
  margin-left: 0.5rem;
  background-color: #4a4747;
  color: white;
  font-size: 1.5rem;
}
.add-goal-btn {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.add-goal-btn button {
  width: 100px;
  padding: 0.5rem;
  color: white;
  background-color: #1e90ff;
  border-radius: 10px;
}
/* .img {
  margin-top: 1rem;
}
.img img {
  width: 100%;
  border-radius: 10px;
} */

.add-goal-name select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  /* border-radius: 10px; */
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
}

/* .div2 select:focus {
  border-color: #0077cc;
} */

.goal-input-container {
  margin-top: 10px;
}

.add-goal-strategy select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  /* border-radius: 10px; */
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.add-goal-strategy select:focus {
  border-color: #0077cc;
}

.plus {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.plus input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  /* border: 1px solid black; */
  border-radius: 10px;
  outline: none;
}

.plus input::placeholder {
  color: #999;
}

.btn-plus {
  padding: 10px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4a4747;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
.par-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.goal-left-check {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .add-goal-container {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .add-goal-container {
    width: 80%;
  }
  .add-goal-btn button {
    width: 110px;
  }
}
